<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gallery - I Love MilkTea</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Milk Tea, Gallery, Photos" name="keywords">
    <meta content="Gallery of Milk Tea Products at iLoveMilkTea" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-primary py-3 d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="/help">Help</a>
                        <span class="text-white">|</span>
                        <a class="text-white pl-3" href="/faq">FAQs</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="/sign-up">Sign Up</a>
                        <span class="text-white">|</span>
                        <a class="text-white pl-3" href="/sign-in">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
                <a href="/" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>LoveMilkTea</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/about" class="nav-item nav-link">About</a>
                        <a href="/product" class="nav-item nav-link">Product</a>
                    </div>
                    <a href="/" class="navbar-brand mx-5 d-none d-lg-block">
                        <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>LoveMilkTea</h1>
                    </a>
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/service" class="nav-item nav-link">Service</a>
                        <a href="/gallery" class="nav-item nav-link active">Gallery</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-3 mt-lg-5">Our Gallery</h1>
            <div class="d-inline-flex align-items-center text-white">
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Gallery</p>
            </div>
        </div>
    </div>
    <!-- Header End -->

 <!-- Gallery Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="section-title position-relative mb-5 text-center">Our Delicious Offerings</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/classic-milk-tea.jpg" data-lightbox="gallery">
                        <img src="img/gall1.jpg" alt="Classic Milk Tea" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Our Lovely Customers</h5>
                    <p class="text-center">Order our drinks now and be one of them.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/fruit-milk-tea.jpg" data-lightbox="gallery">
                        <img src="img/gall2.jpg" alt="Fruit Milk Tea" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Our Cozy Shop</h5>
                    <p class="text-center">What are you waiting for? Visit our shop now.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/specialty-milk-tea.jpg" data-lightbox="gallery">
                        <img src="img/gall3.jpg" alt="Specialty Milk Tea" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Our Shop During Valentine's Day</h5>
                    <p class="text-center">You can visit our physical shop to enjoy the ambiance of our place.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/milk-tea-smoothie.jpg" data-lightbox="gallery">
                        <img src="img/gall4.jpg" alt="Milk Tea Smoothie" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Customers' Favorite</h5>
                    <p class="text-center">Explore our menu now for you to catch your favorite.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/toppings.jpg" data-lightbox="gallery">
                        <img src="img/gall5.jpg" alt="Delicious Toppings" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Order of our Customers</h5>
                    <p class="text-center">Order now for the ultimate milk tea experience.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="gallery-item border rounded p-3 bg-light">
                    <a href="img/shop-interior.jpg" data-lightbox="gallery">
                        <img src="img/gall6.jpg" alt="Shop Interior" class="img-fluid">
                    </a>
                    <h5 class="text-center mt-2">Our Shop During Christmas Season</h5>
                    <p class="text-center">Come and enjoy your drinks in our cozy shop, designed for comfort and relaxation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery End -->



    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white mt-5 pt-5">
        <div class="container text-center py-5">
            <div class="row">
                <div class="col-lg-4 mb-5">
                    <h4 class="text-primary mb-4">About Us</h4>
                    <p>At I Love MilkTea, we are dedicated to serving you the finest milk tea blends with a unique twist. Our mission is to provide a delightful experience with every sip!</p>
                </div>
                <div class="col-lg-4 mb-5">
                    <h4 class="text-primary mb-4">Contact Us</h4>
                    <p>Address: Juan Luna St., Calapan, Philippines</p>
                    <p>Phone: 09632089001</p>
                    <p>Email: info@ilovemilktea.com</p>
                </div>
                <div class="col-lg-4 mb-5">
                    <h4 class="text-primary mb-4">Follow Us</h4>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <p class="m-0">&copy; <a class="text-white font-weight-bold" href="#">iLoveMilkTea</a>. All Rights Reserved.</p>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
