<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>iCREAM - Ice Cream Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-primary py-3 d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="/help">Help</a>
                        <span class="text-white">|</span>
                        <a class="text-white pl-3" href="/faq">FAQs</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="/sign-up">Sign Up</a>
                        <span class="text-white">|</span>
                        <a class="text-white pl-3" href="/sign-in">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
                <a href="/" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>CREAM</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/about" class="nav-item nav-link">About</a>
                        <a href="/product" class="nav-item nav-link">Product</a>
                    </div>
                    <a href="/" class="navbar-brand mx-5 d-none d-lg-block">
                        <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>LoveMilkTea</h1>
                    </a>
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/service" class="nav-item nav-link active">Services</a>
                        <a href="/gallery" class="nav-item nav-link">Gallery</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-3 mt-lg-5">Services</h1>
            <div class="d-inline-flex align-items-center text-white">
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Services</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


   <!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Services We Offer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel service-carousel">
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="img/serv1.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Online Ordering</h5>
                            <p>We provide a seamless online ordering system that allows you to enjoy our delicious ice cream right from the comfort of your home.</p>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="img/serv2.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Offers MilkTea Drinks</h5>
                            <p>In addition to our delicious ice creams, we now offer a variety of refreshing milk tea drinks that you will surely love.</p>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="img/serv3.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Delivery Services</h5>
                            <p>We offer quick and reliable delivery services to ensure your ice cream and milk tea cravings are satisfied anywhere, anytime.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->




<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">What Our Customers Say About iLoveMilkTea</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">"iLoveMilkTea has completely transformed my afternoons! The flavors are so rich and refreshing. I can’t get enough of their brown sugar milk tea!"</h4>
                        <img class="img-fluid mx-auto mb-3" src="img/testimonial-1.jpg" alt="Customer 1">
                        <h5 class="font-weight-bold m-0">Sophia Lee</h5>
                        <span>Student</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">"Every visit to iLoveMilkTea feels like a little escape! Their customer service is as fantastic as their drinks!"</h4>
                        <img class="img-fluid mx-auto mb-3" src="img/testimonial-2.jpg" alt="Customer 2">
                        <h5 class="font-weight-bold m-0">James Rodriguez</h5>
                        <span>Graphic Designer</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">"I absolutely love the variety at iLoveMilkTea! There’s always something new to try, and each drink is a delight!"</h4>
                        <img class="img-fluid mx-auto mb-3" src="img/testimonial-3.jpg" alt="Customer 3">
                        <h5 class="font-weight-bold m-0">Michael Tan</h5>
                        <span>Software Engineer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->



    <!-- Footer Start -->
   <div class="container-fluid bg-dark text-white mt-5 pt-5">
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-lg-4 mb-5">
                <h4 class="text-primary mb-4">About Us</h4>
                <p>At I Love MilkTea, we are dedicated to serving you the finest milk tea blends with a unique twist. Our mission is to provide a delightful experience with every sip!</p>
            </div>
            <div class="col-lg-4 mb-5">
                <h4 class="text-primary mb-4">Contact Us</h4>
                <p>Address: Juan Luna St., Calapan, Philippines</p>
                <p>Phone: 09632089001</p>
                <p>Email: info@ilovemilktea.com</p>
            </div>
            <div class="col-lg-4 mb-5">
                <h4 class="text-primary mb-4">Follow Us</h4>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <p class="m-0">&copy; <a class="text-white font-weight-bold" href="#">I Love MilkTea</a>. All Rights Reserved.</p>
    </div>
</div>
<!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
